<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :defaults %>
  <title>FedBus Ticketing</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<%= render :partial => 'common/auth' %>

<% if flash[:notice] %>
  <p style="color: green"><%= flash[:notice] %></p>
<% end %>

<%= yield %>

</body>
</html>
