<h1>Editing holiday</h1>

<% form_for(@holiday) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :trip_offset %><br />
    <%= f.text_field :trip_offset %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<%= end %>

<%= link_to 'Show', @holiday %> |
<%= link_to 'Back', holidays_path %>
