<h1>Listing holidays</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Trip offset</th>
    <th>Comment</th>
  </tr>

<% @holidays.each do |holiday| %>
  <tr>
    <td><%=h holiday.date %></td>
    <td><%=h holiday.offset_date %></td>
    <td><%=h holiday.comment %></td>
    <td><%= link_to 'Show', holiday %></td>
    <td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
    <td><%= link_to 'Destroy', holiday, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New holiday', new_holiday_path %>
