<h1>Admin Panel</h1>
<%= link_to 'Reading Week', reading_weeks_path %>
<%= link_to 'Blackout', blackouts_path %>
<%= link_to 'Holidays', holidays_path %>
<%= link_to 'Trips', trips_path %>
<%= link_to 'Buses', buses_path %>
<%= link_to 'Permissions', permissions_path %>
<%= link_to 'Roles', roles_path %>
<%= link_to 'Users', users_path %>
<%= link_to 'Tickets', tickets_path %>
<%= link_to 'Ticket Logs', ticket_logs_path %>
<%= link_to 'Destinations', destinations_path %>
