	<tr>
		<td><%= bus.description %></td>
		<td><%= bus.departure %></td>
		<td><%= bus.arrival %></td>
		<td><%= bus.return %></td>
		<td><%= bus.available_tickets(:from_waterloo).to_s + "/" + bus.available_tickets(:to_waterloo).to_s %></td>
		<td><%= select "bus", "direction", (Bus::DIRECTIONS.collect {|x| x if x == bus.direction || bus.direction == Bus::DIRECTIONS[0]}).select {|e| !e.nil? && e != Bus::DIRECTIONS[0]} %></td>
		<td><%= submit_tag 'Reserve' %></td>
		<%= hidden_field_tag :bus_id,  bus.id %>
	</tr>
