<script type="text/javascript">
	dirs = ["from", "to"]

	// dir - index in the dirs list, 0 or 1
	// id - Bus id to get matching trip for
	function change_other_trip(dir, id)
	{
		var table = document.getElementById("return_" + dirs[dir]);
		var r = table.rows;
		var l = r.length;
		var c;
		while(l--)
		{
			c = r[l].cells;
			//document.write(id.toString());
			if(c[0].firstChild.nodeValue.toString() == id.toString())
			{
				newbus = c[1].firstChild.nodeValue;
				document.write(1);
			}
		}

		document.getElementById("ticket_" + dirs[(dir + 1) % 2] + "_id").selectedIndx = 1;
	}
</script>

<table style="display: none;" id="return_to">
	<% @forward.each do |bus| %>
		<tr>
			<td><%= bus.id %></td>
			<td><% @backward.each do |b| %><% if b.destination == bus.destination %><%= b.id %><% break %><% end %><% end %></td>
		</tr>
	<% end %>
</table>

<table style="display: none;" id="return_from">
	<% @backward.each do |bus| %>
		<tr>
			<td><%= bus.id %></td>
			<td><% @forward.each do |b| %><% if b.destination == bus.destination %><%= b.id %><% break %><% end %><% end %></td>
		</tr>
	<% end %>
</table>

<p>
	Select tickets:
</p>
<table>
		<tr>
			<td><%= check_box_tag 'to', '1', true %></td>
			<td>Travelling to: </td>
			<td><%= collection_select :ticket_to, :id, @forward, :id, :destination_and_time_from, { :include_blank => 'Select Destination'}, { :onchange => "change_other_trip(0, this.value);" }  %></td>
			<td><%= @dayto ? "on #{@dayto}" : nil %></td>
		</tr>
		<tr>
			<td><%= check_box_tag 'from', '1', false %></td>
			<td>Returning from: </td>
			<td><%= collection_select :ticket_from, :id, @backward, :id, :destination_and_time_to, { :include_blank => 'Select Origin' }, { :onchange =>  "change_other_trip(1, this.value);" } %></td>
			<td><%= @dayfrom ? "on #{@dayfrom}" : nil %></td>
	</tr>
</table>


