<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Student number hash:</b>
  <%=h @user.student_number_hash %>
</p>

<p>
  <b>Roles:</b>
</p>

<ul>
  <% for role in @user.roles %>
    <li><%= link_to h(role.name), role %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>